<%= render partial: '/shared/application_details', locals: { application: @application } %>

<h2>Pets for Approval:</h2>
<% @application.pets.each do |pet| %>
  <section id='pet-<%= pet.id %>' class='container indent'>
    <%= link_to pet.name, "/pets/#{pet.id}", class: 'item-title' %>
    <% if pet.not_adoptable? %>
      <div class='item-button'>This pet has been approved for adoption in another application</div>
      <%= button_to 'Reject', "/admin/applications/#{@application.id}/#{pet.id}/reject", method: :patch, class: 'item-button' %>
    <% elsif @application.pet_approved?(pet) %>
      <div class='item-button'>Approved</div>
    <% elsif @application.pet_rejected?(pet) %>
      <div class='item-button'>Rejected</div>
    <% else %>
      <%= button_to 'Approve', "/admin/applications/#{@application.id}/#{pet.id}/approve", method: :patch, class: 'item-button' %>
      <%= button_to 'Reject', "/admin/applications/#{@application.id}/#{pet.id}/reject", method: :patch, class: 'item-button' %>
    <% end %>
    <br><br>
  </section>
<% end %>
