<%= render partial: '/shared/application_details', locals: { application: @application } %>

<h2>Pets for Approval:</h2>
<% @application.pets.each do |pet| %>
  <section id='pet-<%= pet.id %>' class='container indent'>
    <%= link_to pet.name, "/pets/#{pet.id}", class: 'item-title' %>
    <% if pet.not_adoptable? %>
      <div class='item-button'>This pet has been approved for adoption in another application</div>
      <%= render partial: 'shared/reject_button', locals: { application: @application, pet: pet } %>
    <% elsif @application.pet_approved?(pet) %>
      <div class='item-button'>Approved</div>
    <% elsif @application.pet_rejected?(pet) %>
      <div class='item-button'>Rejected</div>
    <% else %>
      <%= render partial: 'shared/approve_button', locals: { application: @application, pet: pet } %>
      <%= render partial: 'shared/reject_button', locals: { application: @application, pet: pet } %>
    <% end %>
    <br><br>
  </section>
<% end %>
