<%= render partial: '/shared/application_details', locals: { application: @application } %>

<% if @application.in_progress? %>
  <h3>Add a Pet to this Application</h3>

  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search_name, 'Search for Pet by Name' %>
    <%= f.text_field :search_name %>

    <%= f.submit 'Submit'  %>
  <% end %>

  <% if @pets.is_a?(Array) && @pets.any? %>
    <h4 class='indent'>Search Results:</h4>
    <% @pets.each do |pet| %>
      <section id="pet-<%= pet.id %>" class='indent container'>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: 'item-title' %>
        <%= button_to "Adopt this Pet", "/applications/#{@application.id}/#{pet.id}", method: :patch, class: 'item-button' %>
      </section>
    <% end %>
  <% end %>

  <% if @application.pets.any? %>
    <br>
    <section id='submit-application'>
      <h3>Submit Application</h3>
      <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
        <%= f.label :description, 'Describe why you would make a good owner for these pet(s):' %><br><br>
        <%= f.text_area :description, size: '50x10' %><br><br>

        <%= f.hidden_field :status, value: 'Pending' %>

        <%= f.submit 'Submit Application' %>
      <% end %>
    </section>
  <% end %>
<% end %>
