<h2><%= @shelter_name %></h2>
<p><%= @shelter_city %></p>

<section id='statistics'>
  <h3>Statistics</h3>
  <p>
    Average Age of Adoptable Pets: <%= @shelter.average_age_of_adoptable_pets %><br>
    Number of Adoptable Pets: <%= @shelter.number_of_adoptable_pets %><br>
    Number of Pets Adopted: <%= @shelter.number_of_pets_adopted %>
  </p>
</section>

<section id='action-required'>
  <h3>Action Required</h3>
  <% @shelter.action_required.each do |pet| %>
    <section id='pet-<%= pet.id %>'>
      <% if pet.adoptable %>
        <%= pet.name%>
        <% pet.actions_required.each do |application| %>
          <%= link_to "#{application.id}", "/admin/applications/#{application.id}" %>
        <% end %>
      <% end %>
    </section>
  <% end %>
</section>
