<h2><%= @shelter_name %></h2>
<p><%= @shelter_city %></p>

<section id='statistics'>
  <h3>Statistics</h3>
  <p>
    Average Age of Adoptable Pets: <%= @shelter.average_age_of_adoptable_pets %><br>
    Number of Adoptable Pets: <%= @shelter.number_of_adoptable_pets %><br>
    Number of Pets Adopted: <%= @shelter.number_of_pets_adopted %>
  </p>
</section>
